/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: white;
    vertical-align: middle;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.header-logo img {
    height: 50px;
    vertical-align: middle;
}

.header-logo .logo-text {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

/* MAIN */
main {
    background-color: white;
}

/* BUTTON */
button.task-button,
button.section-button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    font-size: 12px;
}

button.task-button {
    background-color: #47adf1;
    border: none;
}

button.section-button {
    background-color: white;
    color: rgb(180, 175, 175);
    border-color:rgb(180, 175, 175);
}

.divider {
    color: white;
    margin-top: 10px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
}

/* LIST  */
.title-list {
    list-style: none;
    background-color: white;
    font-size: 20px;
    margin-top: 25px;
    font-weight: bolder;
    vertical-align: middle;
}

.arrow {
    vertical-align: middle;
}

.title-list li {
    padding: 5px;
    font-size: 15px;
    margin: none;
    font-weight: 100;
}

.circle {
    margin: 10px 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
}

.check {
    color: #64c0a9;
}

.cross {
    color: #f39691;
}

.tag {
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

.editorial {
    background-color: #47adf1;
}

.goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.webiste {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}