/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: white;
    vertical-align: middle;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo img {
    height: 50px;
    vertical-align: middle;
}

.header-logo .logo-text {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}



/* MAIN */
main {
    background-color: #f6f8f9;
}
/* BUTTON */
button.task-button,
button.section-button{
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}

button.task-button {
    background-color: #47adf1;
    border: none;
}

.divider {
    color: #f6f8f9;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug  */
    border: 1px solid black;
}












/*  colore background body  */
/* #47adf1 colore task e editor  */
/* #9c72e4 colore Q1 */
/* #64c0a9 colore recruting */
/* #f29e33 colore mobile */
/* #d863a1 colore website */
/* #b0c926 colore sales */

/* #b2e2d8 colore spunta */
/* #f39691 colore croce */